# General
gradlew
.gradle/
/build
/target
/.idea
/.vscode
/out
/logs
/node_modules

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea

# Eclipse
*.classpath
*.project
*.settings/
.settings/
*.launch
*.ws

# Maven
/log
/target
mvnw
mvnw.cmd
mvnDebug
mvnDebug.cmd
*.pom.xml.tag
*.pom.xml.releaseBackup

# Spring Boot
/src/main/resources/application.properties
/src/main/resources/application-*.properties
